.blog-list-container{
    padding: 55px;
}
.posts{
    text-align: center;
}
.nodata{
    text-align: center;
    margin-top: 10%;
}
.loader-container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 10%;
}